wp-content/plugins/woocommerce.zip
wp-content/debug.log
wp-content/uploads/wc-logs/fatal-errors-2026-07-17-565320137fafbab35eeb65882ff3bd7d.log
wp-content/uploads/wc-logs/wc-analytics-order-import-2026-07-17-32c40ce8dcd5d58be98fc8edd679deb1.log
wp-content/uploads/wc-logs/wc-image-regeneration-2026-07-17-a1ab5ba3a2a53393c6c225ebf48b8909.log
wp-content/debug.log
wp-content/debug.log
wp-content/debug.log
wp-content/debug.log
